/*---------- popup ----------*/
$popup-back: rgba( 0, 0, 0, .5 );
$popup-close-back: rgba( 255, 255, 255, 1 );
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #fff;
$websters-select-popup-item-active-color: #fff;
$websters-select-popup-item-active-back: #f00;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #000;
$nice-checkbox-color: #000;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #00aeef;
$btn-color: #fff;

$btn-1-separator: #fff;

$btn-2-back: #3eafe9;
$btn-2-border: #3eafe9;
/*---------- /btn ---------*/

/*---------- menu ----------*/
$menu-color: #000;
/*---------- /menu ----------*/

/*---------- additionally ----------*/
$additionally-color: #000;
/*---------- /additionally ----------*/

/*---------- promo ----------*/
$promo__marker: #e00808;
$promo__move-down: #000;
/*---------- /promo ----------*/

/*---------- desktop-converter ----------*/
$desktop-converter__list: #000;
/*---------- /desktop-converter ----------*/

/*---------- tutorial ----------*/
$tutorial__marker: #e00808;
/*---------- /tutorial ----------*/

/*---------- more-design ----------*/
$more-design__title-color: #000;
$more-design__item-color: #000;
/*---------- /more-design ----------*/

/*---------- faq ----------*/
$faq__topic: #000;
/*---------- /faq ----------*/

/*---------- contact-us ----------*/
$contact-us-input-border: #666;
/*---------- /contact-us ----------*/