.more-design {
  margin-bottom: 75px;
  margin-left: 5px;
}
.more-design__title{
  margin-bottom: 23px;
  font-size: 44px;
  font-weight: 300;
  letter-spacing: -.6px;

  &:hover{
    text-decoration: none;
  }

  a {
    border-bottom: 1px solid $more-design__title-color;
    color: $more-design__title-color;
  }

}
.more-design__item{
  display: block;
  margin-bottom: 23px;
  margin-left: 19px;
  color: $more-design__item-color;
  font-size: 24px;
  font-weight: 300;

  img{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }

  span{
    display: inline-block;
    padding-top: 118px;
    border-bottom: 1px solid $more-design__item-color;

    &:hover{
      text-decoration: none;
    }

  }

}


